* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --input-padding: 1.2em 2em;
    --button-padding: 1.2em 3em;
    --input-border-radius: 2em;
    --color-primary-a: hsl(0, 36%, 70%);
    --color-primary-b: hsl(0, 93%, 68%);
    --color-neutral-a: hsl(0, 6%, 24%);
    --margin-frequently-used: .5em;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-primary-a);
    min-height: 100vh;
    align-items: center;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: auto;
    background-repeat: repeat;
}

img {
    height: 100%;
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.content {
    max-width: 400px;
    margin: 0 auto;
    padding: 3em 0;
}

.text-content {
    padding: 0 1em;
}

.main-heading {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.1;
    margin-top: calc(4*var(--margin-frequently-used));
    margin-bottom: calc(.5*var(--margin-frequently-used));
}

.heavy {
    font-weight: 600;
    color: black;
}

.paragraph {
    line-height: 1.5em;
    margin-bottom: calc(3*var(--margin-frequently-used));
}

.email-form {
    position: relative;
}

form {
    color: inherit;
}

.email-input {
    border: 1px solid var(--color-primary-a);
    outline: none;
    color: inherit;
    font-weight: 500;
    letter-spacing: .1em;
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
}

.submit-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: var(--button-padding);
    background: rgb(248, 191, 191);
    background: linear-gradient(135deg, rgba(248, 191, 191, 1) 0%, rgba(238, 140, 140, 1) 100%);
    /* border: 1px solid var(--color-primary-a); */
    border: 0;
    border-radius: var(--input-border-radius);
    box-shadow: 0 10px 10px rgba(219, 175, 175, 0.5);

    cursor: pointer;
}

picture {
    display: flex;
    justify-content: end;
    width: fit-content;
    margin-left: auto;
    max-height: 100vh;
}

picture.mobile {
    display: none;
    justify-content: center;
}

picture.desktop {
    display: flex;
}


picture.mobile img {
    width: 100%;
}

@media (max-width:999px) {
    .logo {
        padding: 1em;
    }

    picture.desktop {
        display: none;
    }

    picture.mobile {
        display: block;
    }

    .content {
        padding-top: 0;
        margin: 0;
        max-width: 100%;
    }

    .container {
        flex-direction: column-reverse;
    }

    picture {
        display: block;
    }

    .text-content {
        text-align: center;
    }
}

@media (max-width:600px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .submit-button {
        padding-left: 2em;
        padding-right: 2em;
    }
}