$neutral-light: hsl(0, 0%, 100%);
$light-pink: hsl(275, 100%, 97%);
$grayish-main: hsl(292, 16%, 49%);
$dark-main: hsl(292, 42%, 14%);
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$font-size-xl: 20px;
$font-size-2xl: 22px;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-pink;
  overflow: auto;
  font-family: "Work Sans", Courier, monospace;
}

.hide {
  display: none;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}

.w-fit {
  width: fit-content;
}

.normal {
  font-weight: $font-weight-normal;
}
.semibold {
  font-weight: $font-weight-semibold;
}
.bold {
  font-weight: $font-weight-bold;
}

.flex-center-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.hero {
  & img {
    object-fit: cover;
    width: 100%;
  }
}

.faq-wrapper {
  padding: 1rem;
}

.faq-box {
  top: -150px;
  margin: 0 auto;
  max-width: 450px;
  background-color: $neutral-light;
  border-radius: 0.7rem;
  padding: 2rem;

  & .box-header {
    margin-bottom: 0.6rem;
    font-size: $font-size-2xl;
    gap: 0.5rem;
    & img {
      height: 2rem;
      aspect-ratio: 1/1;
    }
  }

  & .faq-item {
    padding: 0.5rem 0;
  }

  & .faq-item + .faq-item {
    border-top: 1px solid rgb(233, 232, 232);
  }

  .answer {
    margin: 0.7rem 0;
    color: $grayish-main;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
  }
  .question {
    position: relative;
    padding: 0.5rem 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;

    p {
      width: 90%;
    }

    .toggle {
      cursor: pointer;
    }
  }
}
