.u-container {
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;
}
.u-inline-block {
  display: inline-block;
}

.u-reset-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.u-flex {
  display: flex;
}

.u-justify-center {
  justify-content: center;
}
.u-justify-between {
  justify-content: space-between;
}
.u-items-center {
  align-items: center;
}

.u-flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-flex--col {
  flex-direction: column;
}

.u-wrap {
  flex-wrap: wrap;
}
.u-gap--md {
  gap: 2rem;
}

.u-gap--l {
  gap: 3rem;
}
.u-gap--xl {
  gap: 4rem;
}
.u-gap--3xl {
  gap: 5rem;
}

.u-text-left {
  text-align: left;
}

.u-padding-medium {
  padding: 4rem;
}

.u-mb--m {
  margin-bottom: 3rem;
}

.u-mb--l {
  margin-bottom: 4rem;
}

.u-ml--auto {
  margin-left: auto;
}

.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}

.u-text-center {
  text-align: center;
}
.u-text-dark-cyan {
  color: $dark-desaturated-cyan-text;
}
.u-text-dark-blue {
  color: $very-dark-desaturated-blue;
}
.u-text-white {
  color: $white;
}
